<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <script src="../js/Vue.js"></script>
    <script src="../js/vue-resource.js"></script>
    <script src="../js/App.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <title>天气查询</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="app" style="text-align: center">
    <mt-field v-model="cityName" placeholder="请输入城市名称"  class="search_box"></mt-field>
    <mt-button @click.native="getData">搜索</mt-button>
    <div v-if="retData">
        <weather_item v-for="(weather,index) in retData.resultList[0].results[0].weather_data" :weather="weather" :index="index"></weather_item>
    </div>
</div>
</body>

<script>
    //封装组件
    Vue.component('weather_item', {
        props: ['weather', 'index'],
        template: "<div class='box' :class='getClassOfDay(index)'><span>{{weather.date.substring(0,3)}}{{getDateStr(index)}} </span> <img  :src='weather.dayPictureUrl'/> <img  :src='weather.nightPictureUrl'/> <span >{{weather.temperature}}</span> <span >{{weather.weather}}</span> <span >{{weather.wind}}</span></div>",
        methods: {
            //组件内部方法
            getDateStr: function (index) {
                var dateStr;
                switch (index) {
                    case 0:
                        dateStr = '(今天)';
                        break;
                    case 1:
                        dateStr = '(明天)';
                        break;
                    case 2:
                        dateStr = '(后天)';
                        break;
                    default:
                        dateStr = '';
                }
                return dateStr;
            }, getClassOfDay: function (index) {
                return index == 0 ? 'today_box' : null;
            }
        }

    });

    var app = new Vue({
        el: '#app',
        data: {
            result: '请先查询天气哦',
            cityName: localStorage.getItem("city") ? localStorage.getItem("city") : "北京",
            retData: undefined
        },
        methods: {
            getData: function () {
                localStorage.setItem("city", this.cityName);
                new App().postRequest(this, "http://localhost:8080/glass/deal/weather/get", {city: this.cityName}, function (retData) {
                    this.retData = retData.body;
                }, function (error) {
                    alert("失败啦");
                })

            }
        }
    });
</script>
</html>