<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/css/main.css"/>
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <script src="../js/Vue.js"></script>
    <script src="../js/vue-resource.js"></script>
    <script src="../js/App.js"></script>
    <title>login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="app">
    <span class="form_title">城市名称：</span> <input name="username" v-model="cityName" placeholder="请输入城市名称"/>
    <button type="button" @click="getData">查询天气</button>

    <div v-if="retData">当前城市:{{retData.resultList[0].results[0].currentCity}}</div>
    <div v-if="retData">
        <span class="weather_span">时间 </span>
        <span class="weather_span weather_span_small">白天</span>
        <span class="weather_span weather_span_small">夜晚</span>
        <span class="weather_span">温度 </span>
        <span class="weather_span">天气</span>
        <span class="weather_span">风力</span>

        <div v-for="weather in retData.resultList[0].results[0].weather_data">
            <span class="weather_span">{{weather.date.substring(0,3)}} </span>
            <img class="weather_span weather_span_small" :src="weather.dayPictureUrl"/>
            <img class="weather_span weather_span_small" :src="weather.nightPictureUrl"/>
            <span class="weather_span">{{weather.temperature}}</span>
            <span class="weather_span">{{weather.weather}}</span>
            <span class="weather_span">{{weather.wind}}</span>
            <br>
        </div>
    </div>
</div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            result: '请先查询天气哦',
            cityName: '北京',
            retData: undefined
        },
        methods: {
            getData: function () {
                new App().postRequest(this, "http://localhost:8080/glass/deal/weather/get", {city: this.cityName}, function (retData) {
                    this.retData = retData.body;
                }, function (error) {
                    alert("失败啦" + error.toString());
                })
            }

        }
    });
</script>
</html>