.form_title {
    color: green;
    display: inline-block;
    float: left;
    width: 100px;
}


.weather_span {
    padding: 8px 16px 8px 16px;
    font-size: 12px;
    color: white;
    text-align: center;
    display: block;
    float: none;
    margin: 0 auto;
}

.box {
    background: #90afc8;
    display: inline-block;
    margin: 8px;
}

.box >span, .box>img{
    padding: 8px 16px 8px 16px;
    font-size: 12px;
    color: white;
    text-align: center;
    display: block;
    float: none;
    margin: 0 auto;
}

.today_box{
    background: #576bc8;
}



.search_box {
    padding-left: 8px;
    height: 400px;
    width: 600px;
}

.search_btn {
    padding: 2px 16px 2px 16px;
    solid-color: dodgerblue;
    height: 40px;
    border: none;
    color: white;
    background: dodgerblue;
    border-radius: 3px;
}